In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dtset = "../../data/zaf_admpop_adm2_2020.csv"
zaf = pd.read_csv(dtset, index_col=False)

In [4]:
# Removed the Country and Country Code
zaf = zaf.drop(['ADM0_EN', 'ADM0_PCODE'], axis=1)#, inplace=True)

In [5]:
#Removing NaN raws
zaf = zaf.dropna(axis=0, how="all")
zaf = zaf.dropna(axis=1, how='all')

In [6]:
#Sorting -- by district name
zaf = zaf.sort_values(by=["ADM2_NAME"], ascending=True)

In [7]:
Dist_codes = ['DC44' ,'DC25' ,'DC12' ,'DC37' ,'BUF' ,'DC10' ,
                'DC2' ,'DC35' ,'DC5' ,'DC13' ,'CPT', 'JHB', 
                'TSH', 'DC40' ,'DC39' ,'DC4' ,'DC32' ,'EKU' ,
                'ETH' ,'DC20' ,'DC9' ,'DC30' ,'DC47' ,'DC29' ,
                'DC14', 'DC45' ,'DC18' ,'MAN' ,'DC33' ,'DC6', 
                'NMA' ,'DC38' ,'DC31' ,'DC15', 'DC3' ,'DC7' ,
                'DC42', 'DC43' ,'DC8' ,'DC19', 'DC21', 'DC22' ,
                'DC27' ,'DC24', 'DC23' ,'DC28' ,'DC34' ,'DC36' ,
                'DC1' ,'DC48' ,'DC16', 'DC26' ]

zaf["DistictCodes"] = Dist_codes

In [9]:
zaf.to_csv("../../data/cleaned/zaf_admpop_adm2_2020.csv", index=False)

In [13]:
dtset = "../../data/cleaned/sa_districts.csv"
districts = pd.read_csv(dtset) 

#Converting Distrit short names to UPPERCASE... 
#(to match the format on the other file)
districts = districts.rename(columns={"DISTRICT.1":"DISTRICT_1"})
districts["DISTRICT_1"] = districts["DISTRICT_1"].str.upper()

In [16]:
districts.drop(['Unnamed: 0', 'OBJECTID'], axis=1, inplace=True)
districts.head()

,PROVINCE,DISTRICT,DISTRICT_1,District_Name,Population,No. Public clinics,No. Public Hospitals,No. Private Clinics,No. Private Hospital
0,GT,EKU,EKURHULENI,Ekurhuleni District Municipality EKU,3609251,88,7,106,33
1,GT,JHB,CITY OF JOHANNESBURG,City of Johannesburg District Municipality JHB,5316210,129,10,245,62
2,EC,BUF,BUFFALO CITY,Buffalo City District Municipality BUF,866515,80,4,19,8
3,EC,DC10,SARAH BAARTMAN,Sarah Baartman District Municipality DC10,532050,75,15,6,2
4,EC,DC12,AMATHOLE,Amathole District Municipality DC12,1002243,147,14,2,8

In [18]:
districts.to_csv("../../data/cleaned/sa_districts_v2.csv", index=False)